<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="edu.nf.ch06.Users">
<!--        <constructor-arg name="userName" value="user1" />-->
<!--        <constructor-arg name="age" value="18"/>-->
<!--        &lt;!&ndash;注入list集合&ndash;&gt;-->
<!--        <constructor-arg name="address">-->
<!--            <list>-->
<!--                <value>广州</value>-->
<!--                <value>珠海</value>-->
<!--            </list>-->
<!--        </constructor-arg>-->
<!--        &lt;!&ndash;注入map集合&ndash;&gt;-->
<!--        <constructor-arg name="card">-->
<!--            <map>-->
<!--                &lt;!&ndash;一个entry代表一个键值对&ndash;&gt;-->
<!--                <entry key="工行" value="24324242342423424"/>-->
<!--                <entry key="建行" value="28675688674645654"/>-->
<!--            </map>-->
<!--        </constructor-arg>-->
<!--        &lt;!&ndash;注入Properties对象&ndash;&gt;-->
<!--        <constructor-arg>-->
<!--            <props>-->
<!--                <prop key="aa">1213213</prop>-->
<!--                <prop key="bb">3863434</prop>-->
<!--            </props>-->
<!--        </constructor-arg>-->

        <property name="userName" value="user2"/>
        <property name="age" value="19"/>
        <property name="address">
            <list>
                <value>广州</value>
                <value>珠海</value>
            </list>
        </property>
        <property name="card">
            <map>
                <entry key="工行" value="24324242342423424"/>
                <entry key="建行" value="28675688674645654"/>
            </map>
        </property>
        <property name="prop">
            <props>
                <prop key="aa">1213213</prop>
                <prop key="bb">3863434</prop>
            </props>
        </property>
    </bean>


</beans>