<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--装配UserDao-->
    <bean id="userDao" class="edu.nf.ch08.factorybean.MapperFactoryBean">
        <property name="daoInterface" value="edu.nf.ch08.dao.UserDao" />
    </bean>

    <!--装配UserService-->
    <bean id="userService" class="edu.nf.ch08.service.UserServiceImpl">
        <property name="userDao"  ref="userDao"/>
    </bean>
</beans>